<footer class="row">
    <div class="col-xs-6 col-sm-4">
        <h4>A propos du developpeur</h4>
        <p>
            DUFRESNE Jonathan
            <br>
            Concepteur Developpeur Informatique
        </p>
    </div>
    <div class="col-xs-6 col-sm-4">
        <h4>Suivez-Moi</h4>
        <p class="social_network">
            <a class="twitter_link" href="https://twitter.com/ZeNoobix">
                <i class="fa fa-twitter-square"> </i>
            </a>
            <a class="facebook_link" href="#">
                <i class="fa fa-facebook-square"> </i>
            </a>
            <a class="youtube_link" href="https://www.youtube.com/channel/UCsCsWf0dwZMrJdaFfO3neiA" target="_blank">
                <i class="fa fa-youtube-square"> </i>
            </a>
            <br>
            <a href="http://www.viadeo.com/fr/profile/jonathan.dufresne" target="_blank">
                <img alt="logo viadeo" src="{{ asset('images/viadeo.png') }}">
                viadeo
            </a>
            <br>
            <a href="https://www.linkedin.com/in/jonathan-dufresne" target="_blank">
                <img alt="logo linkedin" src="{{ asset('images/linkedin.jpg') }}">
                linkedIn
            </a>
            <br>
        </p>
    </div>
    <div class="hidden-xs col-sm-4">
        <h4>Plugins & Bibliothèques utilisés</h4>
        <p>
            <a href="http://getbootstrap.com/" target="_blank">Bootsrap</a>
            <br>
            <a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">Font-Awesome</a>
            <br>
            <a href="https://jquery.com/" target="_blank">Jquery</a>
            <br>
            <a href="http://fancybox.net/" target="_blank">FancyBox</a>
        </p>
    </div>
</footer>
