<header class="row">
    <div class="col-xs-12">
        <h1>Projets-J</h1>
        <p>Jonathan Dufresne : Concepteur Developpeur Informatique.</p>
        <p>Mes projets personnel de developpement informatique.</p>
    </div>
</header>