$color-background: #ffffff; // white
$color-background-alt1: #222222; // black
$color-background-alt2: #3b3b3b; // grey
$color-text: #333333; // dark-grey
$color-text-alt1: #9d9d9d; // light-grey
$color-text-alt2: #4bb6e2; // light-blue
$color-border: #176D90; // blue

// Variable pour les réseaux sociaux
$youtube-color: #cb181e;
$facebook-color: #43609b;
$twitter-color: #55abed;

// Variable de la page cv
$aside-color : #47b4a6;
$title-color: #dd6720;
$subtitle-color: #e9944b;
$section-color: #11514a;
$section-color-alt1: #1e8b80;
$section-color-alt2: #e9944b;
$cv-color-text: #ffffff;